h1{
    text-transform: uppercase; /*mayuscula*/
    text-align: center; /*alineacion - rifgt - left*/
}

h2{
    text-transform: uppercase; /*mayuscula*/
    color: blue;

}
p{
    color: red;
}
/*aca trabajamos con clases*/
.destacados{
    color: violet;
    font-weight: bold;
    /*bold negrita*/
}
#amarillo{
    background-color: yellow;
    width: 300px;
    height: 300px;
    margin-left: 100px;
}
#amarillo:hover{
    background-color: aqua;
    border-radius: 67px 67px 67px 67px;

}
#verde{
    background-color: greenyellow;
}
img{filter: grayscale(70);
width: 100px;

}
img:hover{
    filter: grayscale(0)
}
a{
    font-size: 50px;
}
a:hover{ 
    color: black;
    background-color: green; /*cambiar color de fondo*/

} /*hover cambia cuando le poner el mouse encima*/